<div class="headerBox">
    <a href="http://www.tenatch.ca" target="_blank"><img src="./assets/img/logo2.png" alt="tenatch logo 1" class="header-item logo"></a>

    <nav class="unline" mat-tab-nav-bar>
      <a mat-tab-link (click)="active_link = 'main'" [active]="active_link == 'main'" routerLink="/main">Video Market</a>
      <a mat-tab-link (click)="active_link = 'shopping'" [active]="active_link == 'shopping'" routerLink="/shopping">Shopping</a>
    </nav>

    <!--a routerLink="/main" class="header-item">Video Market</a>
    <a routerLink="/shopping" class="header-item">Shopping</a-->
    <!-- <span>{{inputNameHere}}</span> -->
    <!-- <button (click)="sendEvent()">Click</button> -->
</div>
