
.container{
    padding: 0.5rem;
    background-color: white;
    height: 100%;
}

.logo {
    margin-top: 2rem;
    width: 10vw;
    height: 7vh;
}

.aboutUs {
    margin: 2rem 6rem;
}
.contact{
    width: 30%;
    margin: 2rem 0;
}
.copyRight {
    text-align: center;
}
.socialMedia {
   // text-align: center;
}

.box {
    float: left;
    width: 33.33%;
  //  padding: 0 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
         color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube{
      background: red;
      color: white;
  }

  .fa-linkedin {
      background: #3B5998;
      color: white;
  }