<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">

    <div class="box">
        <div class="aboutUs">
            <h2>Who Are We</h2>
            <p>
                Tenatch is a C2C startup based in Toronto,
                 Canada that supports local and is solving
                 the affordability problem of retail by combining
                 complementary businesses with landlords and place
                them into different commercial spaces
            </p>
        </div>
    </div>
    <div class="box">
        <h2 class="contact"> Contact Us</h2>
        <p>tenatch10@gmail.com<br>
            100 College St.,
            Toronto, Ontario M5G 1L5
            Canada
        </p>
        <p>
            Founded: March 2019
        </p>

    </div>

    <div class ="box">
        <img src="./assets/img/logo2.png" class="logo">

        <div class="socialMedia">
            <a href="https://www.facebook.com/tenatch10" target="blank" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/tenatch_stories/" target="blank" class="fa fa-instagram"></a>
            <a href="https://twitter.com/tenatch10" target="blank" class="fa fa-twitter"></a>
            <a href="https://www.youtube.com/channel/UCbm7spcCFWfsqa51f03CKhg" target="blank" class="fa fa-youtube"></a>
            <a href="https://www.linkedin.com/company/tenatch" target="blank" class="fa fa-linkedin"></a>
        </div>
    </div>
</div>

<p class="copyRight">
    Copyright © 2022 Tenatch
</p>
