<div class="player-normal">
<youtube-player
    [videoId]="videoId"
    [height]="380"
    [width]="680"
    (stateChange)="onStateChange($event)"
    (mouseover)="onMouseover($event)"
    >
</youtube-player>
</div>
<div class="player-mobile-landscape">
<youtube-player
    [videoId]="videoId"
    [height]="256"
    [width]="384"
    (stateChange)="onStateChange($event)"
    (mouseover)="onMouseover($event)"
    >
</youtube-player>
</div>
<div class="player-mobile-portrait">
<youtube-player
    [videoId]="videoId"
    [height]="256"
    [width]="256"
    (stateChange)="onStateChange($event)"
    (mouseover)="onMouseover($event)"
    >
</youtube-player>
</div>
