.container {
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto;
    grid-template-areas: 
        "header"
        "page"
        "footer";
    
    background-image: url("../assets/img/back2.jpg"); 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.container__header {
    grid-area: header;
}
.container__page {
    grid-area: page;
    // one way
    margin-top: auto;
    margin-bottom: auto;
    
    // another way
    // display: flex;
    // // justify-content: center;
    // align-items: center;
}
.container__footer {
    grid-area: footer;
}