<div class="container">
    <div class="tv">
        <div class="tv-top">
            <img src="../../../assets/img/tv_screen_top.png" />
        </div>
        <div class="tv-left">
            <img src="../../../assets/img/tv_screen_left.png" />
        </div>
        <div class="tv-center">
            <app-youtube-video-player [videoId]="currentVideoId"></app-youtube-video-player>
        </div>
        <div class="tv-right">
            <img src="../../../assets/img/tv_screen_right.png" />
        </div>
        <div class="tv-right2">
            <img src="../../../assets/img/tv_screen_right2.png" />
        </div>
        <div class="tv-bottom">
            <img src="../../../assets/img/tv_screen_bottom.png" />
        </div>
    </div>
<mat-card>
    <mat-card-actions>
   



    <div class="channels">
        <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let video of videoList; let i=index"  >

        <button mat-button class = "mut-button">
         <div *ngIf="i % 2 == 0" class="row-color-even">
          {{video.title}}
          </div>
        </button>

        <button mat-button class = "mut-button">
          <div *ngIf="i % 2 == 1" class="row-color-odd">
          {{video.title}}
          </div>
        </button>

        
        </mat-list-option>
        </mat-selection-list>
    </div>


</mat-card-actions>
</mat-card>
</div>